@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;700&display=swap');

$main-font: (
    family: 'Cabin',
    size: 20px,
    weight: 400
);

$title-font: (
    family: 'Oswald',
    size: 40px,
    weight: 700
);

body {
    font-family: map-get($main-font, family);
    font-size: map-get($main-font, size);
    font-weight: map-get($main-font, weight);
    box-sizing: border-box;
    background: url('/images/vacarisses.jpg') no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    line-height: 0.8;
    font-size: 25px;
    font-style: italic;
    text-align: right;

    span {
        font-family: map-get($title-font, family);
        font-size: 60px;
        font-weight: map-get($title-font, weight);
        font-style: normal;
        display: block;
        clear: both;
    }
}

header {
    text-align: right;
    padding-bottom: 10%;

    .main-image {
        width: 100%;
        height: auto;
        max-width: 200px;
    }
}

section {
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    text-align: left;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;

    h2 {
        margin-top: 0;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: #000;
            text-decoration: none;
        }
    }

    img {
        float: right;
        max-width: 130px;
        width: 100%;
        height: auto;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    svg {
        max-width: 30px;
        width: 100%;
    }
}
